{% extends "base.html" %}


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Картка</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>


{% block content %}
    <h2>Редагувати картку ({{ card_name }})</h2>


    <div class="profile">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ edit_card.as_p }}
        
        <button type="submit">Зберегти зміни</button>
    </form>
    </div>

    <a href="{% url 'card_detail' hashed=card %}">Назад до картки</a>

{% endblock %}